[[source]]

verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"


[dev-packages]



[packages]

django-bootstrap-themes = "*"
django-chartjs = "*"
djangorestframework = "*"
peewee = "*"
pymysql = "*"
django = "==1.11"
"django-tables2" = "*"
djangorestframework-jwt = "*"
requests = "*"


[requires]

python_version = "3.5"
