<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}WaschZoo{% endblock %}</title>
  {% load bootstrap_themes %}
  {% bootstrap_styles theme='simplex' type='min.css' %}
</head>
<body>
  <div class="navbar navbar-default">
    <div class="navbar-header">
      <a href="{% url 'wasch:index' %}" class="navbar-brand">WaschZoo</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
	<li><a href="{% url 'wasch:book' %}">Book</a></li>
	<li><a href="{% url 'wasch:stats' %}">Stats</a></li>
	<li><a href="{% url 'wasch:status' %}">Status</a></li>
	<li><a href="{% url 'wasch:logout' %}">Logout</a></li>
      </ul>
      {% if user.is_staff %}
      <ul class="nav navbar-nav navbar-right">
	<li><a href="{% url 'admin:index' %}">Admin</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
  <div class="container">
    {% block content %}{% endblock %}
  </div>
</body>
</html>
