{% extends '../base.html' %}
{% block title %}Waschag TVK{% endblock %}
{% block content %}
<h1 class="page-header">Die Wasch-AG des TvK</h1>

<div style="float:left;padding: 30px" align="center">
	<img src="waschmaschinen.jpg" border=0 alt="" usemap="#Maschine">

	<map name="Maschine">

	<area shape="circle" coords="95,160,40" alt="Sperrzone" href="./Sperrzone/Sperrzone.shtml" alt="Sperrzone" title="Mitgliederbereich">

	<area shape="circle" coords="364,,229,40" alt="Ente" href="ente.shtml" alt="Ente" title="Ente">

</map>

</div>

                <br>
<p align="justify">

Der Name der AG sagt eigentlich schon alles, nicht wahr? 
Wir bieten wir euch die M&ouml;glichkeit hier im Turm zu waschen. 
Dazu haben wir im Keller drei hochmoderne Industriewaschmaschinen und -Trocker, die eure W&auml;sche in unter zwei Stunden waschen und trocknen, 
das Ganze gibt’s f&uuml;r nur einen Euro pro mal. 
Ihr meldet einfach bei einem WaschAG-Mitglied euren Account an und k&ouml;nnt dann bequem von eurem Zimmer aus im WaschZoo genannten Webinterface 
euch Termine buchen und reservieren, die ihr dann unten über den Waschb&auml;r getauften Computer wahrnehmt. 
Klingt kompliziert? Keine Angst, ihr bekommt alles ganz genau gezeigt, wenn wir euch anmelden. 
Schaut einfach sobald ihr Internet habt mit eurer IP und 5 Euro bei uns vorbei!
					<p align="right">Eure Wasch-AG</p>
<table width="50%">
<tr>
<td><a href="Regeln20101208.pdf">Regeln</a> / <a href="Waschregeln20100531englisch.pdf"> Rules</a></td>
<td><a href="cgi-bin/edvsystem/doku.cgi?lang=ger">Dokumentation</a> / <a href="edvsystem/doku.cgi?lang=eng">documentation</a></td>
<td><a href=https://www.tvk.rwth-aachen.de/selbstverwaltung/aemterliste.cgi>Mitglieder / Member</a></td>
<td><a href="Satzung20151021.pdf">Satzung</a></td>
</tr>
</table>
<p align="justify">
Wenn Probleme beim Waschen oder beim Trocknen auftreten, die bei &bdquo;Hinweise zu den Maschinen&rdquo; nicht aufgelistet sind und ihr keinen von uns direkt pers&ouml;nlich antrefft, dann schreibt uns bitte <span style="font-weight:bold">sofort</span> eine E-Mail mit folgenden Angaben:
<ul>
  <li>Benutzte Maschine</li>
  <li>Ausgew&auml;hltes Programm</li>
  <li>Beginn eures Termins</li>
  <li>Genaue Fehlerbeschreibung</li>
</ul>

<div style="text-align:center">
<a href="{% url 'wasch:login' %}">
<b>Login <img src="baer.jpg" width=80> WaschZoo</b></a>
</div>
<h3 align="left" style="clear:both">Hinweise zu den Maschinen / Information on our machines</h4>
<p align="left"><span align="left" style="color:black">(letzte &Auml;nderung / Last change 
13.09.2016)</span></p>
<p align="justify"><div style="color:red">Fehlschl&auml;ge beim Waschen oder Trocknen, die mit hier aufgef&uuml;hrten L&ouml;sungen h&auml;tten vermieden werden k&ouml;nnen, fallen nicht unter die Kulanz!</div></p>

<br>
  <table border=1 width=100%>

<!-- Waschmaschine Nr. 1 -->
<tr>
    <td style='white-space:nowrap'>Waschmaschine 1 </td>
    <td>
    	<ul>
		<li>Die Maschine hat einen Ein/Aus-Schalter, sollte das Display dunkel sein, diesen Schalter bitte dr&uuml;cken, dann erst einloggen</li>
        <li>Wenn "W&auml;sche entnehmen" angezeigt wird, Schalter auf "Ende" stellen und ggf. T&uuml;re schlie&szlig;en und &ouml;ffnen!</li>

	</ul>
    </td>
</tr>


<!-- Waschmaschine Nr. 2 -->
<tr>
    <td>Waschmaschine 2 </td>
    <td>
         <ul>
	         <li>Erst einloggen, dann beladen!</li>
         	<li>Wenn "W&auml;sche entnehmen" angezeigt wird, Schalter auf "Ende" stellen und ggf. T&uuml;re schlie&szlig;en und &ouml;ffnen!</li>

         </ul>
    </td>
</tr>


<!-- Waschmaschine Nr. 3 -->
<tr>
    <td>Waschmaschine 3 </td>
     <td>
    	<ul>
          
	<li>Die Maschine hat einen Ein/Aus-Schalter, sollte das Display dunkel sein, diesen Schalter bitte dr&uuml;cken, dann erst einloggen</li>
	<li>Erst einloggen, dann beladen!</li>
        <li>Wenn "W&auml;sche entnehmen" angezeigt wird, Schalter auf "Ende" stellen und ggf. T&uuml;re schlie&szlig;en und &ouml;ffnen!</li>
        
	</ul>
    </td>
</tr>


<!-- Waschmaschine Nr. X -->
<!--<tr>
    <td>Waschmaschine X </td>
     <td>
    	<ul>
          
	</ul>
    </td>
</tr>-->



<tr>
    <td> Trockner 1 </td>
    <td>
        <ul>
	<li> Die Siebe vor dem eigenem Trocknen mit den Fingern reinigen. Nicht mit Besen o.ä.! </li>
        </ul>
    </td>
</tr>


<tr>
    <td> Trockner 2 </td>
    <td>
        <ul>
	<li> Die Siebe vor dem eigenem Trocknen mit den Fingern reinigen. Nicht mit Besen o.ä.! </li>

        </ul>
    </td>
</tr>



<tr>
    <td> Trockner 3 </td>
    <td>
        <ul>
	<li> Die Siebe vor dem eigenem Trocknen mit den Fingern reinigen. Nicht mit Besen o.ä.! </li>

        </ul>
    </td>
</tr>

</table>

<br>

<HR>

<p align="left"><EM>26.10.2014</EM>  
{% endblock %}
